@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    min-height: 100vh; /* Ensures the wrapper adjusts to the content height */
}
.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    height: auto; /* Allows sidebar to adjust based on the content height */
    flex-grow: 1; /* Ensures the sidebar grows to fill the height of the wrapper */
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 200px;
    min-width: 180px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
    color: #FFF;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none;
    transition: background-color 0.3s ease, border-left 0.3s ease, color 0.3s ease;
}

a.sidebar-link:hover,
a.sidebar-link:focus {
    background-color: #3b7ddd;
    border-left: 3px solid #fff;
    color: #fff;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .05rem;
}

.sidebar-item {
    position: relative;
}

.dropdown-icon {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFF;
    transform: rotate(0);
    transition: transform 0.2s;
}

.dropdown-icon.expanded {
    transform: rotate(180deg);
}

.sidebar-item.has-dropdown.expanded .sidebar-link .dropdown-icon {
    transform: rotate(180deg);
}

#sidebar:not(.expand) .sidebar-item.has-dropdown .dropdown-icon {
    display: none;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 30rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1 rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-dropdown {
    padding: 0;
}

.sidebar-dropdown .sidebar-item {
    padding: 0;
}

.sidebar-dropdown .sidebar-item a {
    padding-left: 2rem; /* Adjust padding to align sublinks */
}

.sidebar-footer {
    padding: .75rem 1.625rem;
    border-top: 1px solid #3b7ddd;
    margin-top: auto; /* Ensure the logout button is at the bottom */
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-text.hidden {
    display: none;
}

#sidebar.expand .nav-text.hidden {
    display: inline;
}
