.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.loading-text {
  margin-top: 15px;
  font-size: 18px;
  color: #333;
}
